include README.md LICENSE postcards/template_config.json requirements.txt postcards/plugin_pexels/util/words.txt postcards/plugin_chuck_norris/chuck_norris_jokes.json
recursive-exclude tmp *
recursive-exclude tmp-pic *
exclude account.json config.json